header{
    background-color: rgb(223, 0,0);
    width: 100%;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
}
.smallimg{
    width: 180px;

}
.headerflex{
    display: flex;
}
.logoimg{
    width: 200px;
    margin: 40px;
}

.divtres{
    display: flex;
    align-items: center;
    color: white;
    border: 1px color white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divcuatro img{
    width: 40px;
}
.divcuatro{
    margin-left: 40%;
    padding-top: 35px;
}

.headerdown{
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    justify-content: center;
}

.headerdown div{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.articletop{
    color: black;
    margin-left: 40%;
    display: flex;
    margin-top: 30px;
    font-weight: bold;

}
.articletop img{
    width: 200px;
    margin-left: 20px;
}

.articletop nav{
    background-color: rgb(212, 212, 212);
    margin-bottom: 10px;
    padding: 20px;
    
}

.poco{
    width: 200px;
}

.todoslosgrid{
    margin-left: 3%;
    margin-right: 3%;
}

/* Grid1 */
.grid1{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "parte1 parte2"
    "parte1 parte2";
    width: 600px;
}

.parte1{
    color: white;
    grid-area: parte1;
    
}
.parte1 nav{
    margin-top: 20px;
    margin-left: 20px;
}

.parte1 nav:first-child{
    font-weight: bold;
}

.parte1 nav:nth-child(2){
    font-family: "MM Headline Pro WebTT Regular";
    color: red;
    font-weight: bolder;
}

.parte1 nav:last-child{
    word-spacing: 10px;
}

.parte2{
    grid-area: parte2;
    padding: 10px;
    background-color: red;
}
/* Grid2 */
.grid2{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img"
    "nav";
    width: 235px;
    height: 300px;
}

.grid2img{
    grid-area: img;
    width: 100px;
    margin-left: 30px;
    margin-top: 10px;
}

.grid2nav{
    grid-area: nav;
    color: white;
}

.grid2nav nav{
    margin-bottom: 20px;
}

/* Grid3 */
.grid3{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img"
    "nav";
    width: 235px;
    height: 300px;
}

.grid3img{
    grid-area: img;
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

.grid3nav{
    grid-area: nav;
}

.grid3nav nav{
    margin-bottom: 20px;
    color: white;
}
/* Grid4 */
.grid4{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img"
    "nav";
    width: 280px;
    height: 300px;
}

.grid4img{
    grid-area: img;
    width: 120px;
    margin-left: 30px;
    margin-top: 10px;
}

.grid4nav{
    grid-area: nav;
    color: white;
}

.grid4nav nav{
    margin-bottom: 20px;
}

/* Grid5 */

.grid5{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img"
    "nav";
    width: 280px;
    height: 300px;
}

.grid5img{
    grid-area: img;
    width: 50px;
    margin-left: 30px;
    margin-top: 10px;
}

.grid5nav{
    grid-area: nav;
    color: white;
}

.grid5nav nav{
    margin-bottom: 20px;
}

/* Grid6 */

.grid6{
    border: 2px rgb(61, 61, 61) solid;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "parte1 parte2"
    "parte1 parte2";
    width: 500px;
}

.parte1g6{
    color: white;
    grid-area: parte1;
    
}
.parte1g6 nav{
    margin-top: 20px;
    margin-left: 20px;
}

.parte1g6 nav:first-child{
    font-weight: bold;
}

.parte1g6 nav:nth-child(2){
    font-family: "MM Headline Pro WebTT Regular";
    color: red;
    font-weight: bolder;
}

.parte1g6 nav:last-child{
    word-spacing: 10px;
}

.parte2g6{
    grid-area: parte2;
    padding: 10px;
    background-color: red;
}

/* GridGlobal */

.todoslosgrid{
    border: 2px rgba(61, 61, 61, 0) solid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "grid1 grid1 grid2 grid3"
    "grid4 grid5 grid6 grid6";
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
}

.headerdown div:last-child{
    display: none;
}

.grid1{
    grid-area: grid1;
}

.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}
.grid4{
    grid-area: grid4;
}

.grid5{
    grid-area: grid5;
}

.grid6{
    grid-area: grid6;
}


footer{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    color: white;
}

footer section{
    margin-top: 10px;
    margin-bottom: 20px;
}

footer section nav:first-child{
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}

footer section nav{
    margin-top: 10px;
}

a{
    margin-top: 20px;
}

header{
    position: sticky;
    top: 0;
}

.articletop div nav{
    font-family: "MM Headline Pro WebTT Regular";
}